@model ValleyDreamsIndia.Models.UsersPersonalModelView
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Profile</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.PersonalDetails.Id)
    @Html.HiddenFor(m => m.PersonalDetails.UsersDetailsId)
    @Html.HiddenFor(m => m.PersonalDetails.Deleted)
    @Html.HiddenFor(m => m.PersonalDetails.CreatedOn)
    @Html.HiddenFor(m => m.UserDetails.Username)
    @Html.HiddenFor(m => m.PersonalDetails.Name)
    @Html.HiddenFor(m => m.PersonalDetails.Email)

<table>
    <tr>
        <th>Username</th>
        <th>@Html.DisplayFor(m=>m.UserDetails.Username)</th>
    </tr>
    <tr>
        <th>Name</th>
        <th>@Html.DisplayFor(m=>m.PersonalDetails.Name)</th>
    </tr>
    <tr>
        <th>Email</th>
        <th>@Html.DisplayFor(m => m.PersonalDetails.Email)</th>
    </tr>
    <tr>
        <th>Address</th>
        <th>@Html.TextAreaFor(m => m.PersonalDetails.Address)</th>
    </tr>
    <tr>
        <th>City</th>
        <th>@Html.TextBoxFor(m => m.PersonalDetails.City)</th>
    </tr>
    <tr>
        <th>State</th>
        <th>@Html.TextBoxFor(m => m.PersonalDetails.State)</th>
    </tr>
    <tr>
        <th>Phone</th>
        <th>@Html.TextBoxFor(m => m.PersonalDetails.PhoneNumber1)</th>
    </tr>
    <tr>
        <th>Mobile</th>
        <th>@Html.TextBoxFor(m => m.PersonalDetails.Mobile)</th>
    </tr>
    <tr>
        <th>Profile Pic</th>
        <td>@Html.TextBoxFor(m => m.PersonalDetails.ProfilePic, new { type = "File" })</td>
    </tr>
    <tr>
        <th></th>
        <td><input type="submit" value="Update" /></td>
    </tr>
</table>
}