@model ValleyDreamsIndia.UsersDetail 
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}  
  <div id = "contentHeader" >
    <h1>Passwords Management</h1>
</div> <!-- #contentHeader -->

<div class="container">
    <div class="grid-20">
        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Change User Password</h3>
            </div>

@using (Html.BeginForm("EditPassword", "Users"))
{
            <div class="widget-content">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Current Password</th>
                            <th>
                                @Html.TextBox("OldPassword")
                            @*<input type="password" name="ecp" id="ecp" size="20" class="" placeholder="Enter Current Password" />*@
                            </th>

                        </tr>

                        <tr>
                            <th>New Password</th>
                            <th>
                                @Html.TextBox("NewPassword")
                            @*<input type="password" name="enp" id="enp" size="20" class="" placeholder="Enter New Password" />*@
                            </th>

                        </tr>
                        <tr>
                            <th>Confirm Password</th>
                            <th>@Html.TextBox("ConfirmNewPassword")
                            @*<input type="password" name="cp" id="cp" size="20" class="" placeholder="Confirm New Password" />*@
                            </th>

                        </tr>

                    </thead>


                </table>


            </div> <!-- .widget-content -->

            <div style="margin-top:20px; margin-bottom:20px;" align="center">
                <span><input type="submit" class="btn btn-primary" value="Submit"/></span>

                <span style="margin-left:50px;"><button class="btn btn-quaternary">Cancel</button></span>
            </div>

}


        </div>

    </div>
    
    <div class="grid-20">
        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Change Transaction Password</h3>
            </div>
@using (Html.BeginForm("EditTransactionPassword", "Users"))
{
            <div class="widget-content">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Current Txn. Pass</th>
                            <th>
                                @Html.TextBox("OldTransactionPassword")
                            @*<input type="password" name="ecp" id="ecp" size="20" class="" placeholder="Enter Current Txn. Pass" />*@
                            </th>

                        </tr>

                        <tr>
                            <th>New Txn. Pass</th>
                            <th>
                                @Html.TextBox("NewTransactionPassword")
                            @*<input type="password" name="enp" id="enp" size="20" class="" placeholder="Enter New Txn. Pass" />*@
                            </th>

                        </tr>
                        <tr>
                            <th>Confirm Txn. Pass</th>
                            <th>
                                @Html.TextBox("ConfirmTransactionNewPassword")
                            @*<input type="password" name="cp" id="cp" size="20" class="" placeholder="Confirm New Txn. Pass" />*@
                            </th>

                        </tr>

                    </thead>


                </table>


            </div> <!-- .widget-content -->

            <div style="margin-top:20px; margin-bottom:20px;" align="center">
                <span><input type="submit" class="btn btn-primary" value="Submit" /></span>

                <span style="margin-left:50px;"><button class="btn btn-quaternary">Cancel</button></span>
            </div>

}


        </div>

    </div>



</div>

