
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>

    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" href="~/Content/images/fav.png" rel="shortcut icon">
    <link href="~/Content/stylesheets/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/stylesheets/sample_pages/people.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/stylesheets/sample_pages/stream.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/stylesheets/sample_pages/buttons-icons.css" type="text/css" />

    
    @*<link rel="stylesheet" href="stylesheets/all.css" type="text/css" />*@

    <!--[if gte IE 9]>
    <link rel="stylesheet" href="stylesheets/ie9.css" type="text/css" />
    <![endif]-->
    <!--[if gte IE 8]>
    <link rel="stylesheet" href="stylesheets/ie8.css" type="text/css" />
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <div id="header">
            <h1><a href="dashboard.html">Administrator</a></h1>

            <a href="javascript:;" id="reveal-nav">
                <span class="reveal-bar"></span>
                <span class="reveal-bar"></span>
                <span class="reveal-bar"></span>
            </a>
        </div> <!-- #header -->

        <div id="search">
        </div> <!-- #search -->

        <div id="sidebar">

            <ul id="mainNav">
                <li id="navDashboard" class="nav active">
                    <span class="icon-home"></span>
                    <a href="/Dashboard/Index">Dashboard</a>
                </li>

                <li id="navPages" class="nav">
                    <span class="icon-document-alt-stroke"></span>
                    <a href="javascript:;">Manage Account</a>

                    <ul class="subNav">
                        <li><a href="/Profile/ViewProfile">My Profile</a></li>
                        <li><a href="/Profile/Edit">Profile Settings</a></li>
                        <li><a href="/Users/EditPassword">Change Password</a></li>
                        <li><a href="/Bank/Edit">Bank Info</a></li>
                    </ul>
                </li>

                <li id="navForms" class="nav">
                    <span class="icon-article"></span>
                    <a href="javascript:;">Manage Team</a>

                    <ul class="subNav">
                        <li><a href="/Team/Create">Add New Member</a></li>
                        <li><a href="/Team/Tree">View Tree</a></li>
                        <li><a href="/Team/Team">View Team</a></li>
                        <li><a href="/Team/Direct">View Direct Team</a></li>
                    </ul>

                </li>

                <li id="navType" class="nav">
                    <span class="icon-info"></span>
                    <a href="/Wallet/Transfer">My Wallet</a>
                </li>

                <li id="navType" class="nav active">
                    <span class="icon-compass"></span>
                    <a href="/Renewal/Contribution">Renewal</a>
                </li>

                <li id="navType" class="nav">
                    <span class="icon-equalizer"></span>
                    <a href="/CheckContribution/Index">Check Contributions</a>
                </li>

                <li id="navType" class="nav">
                    <span class="icon-ampersand"></span>
                    <a href="rewards.html">Rewards</a>
                </li>

                <li id="navGrid" class="nav">
                    <span class="icon-layers"></span>
                    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                    }
                </li>

            </ul>

        </div> <!-- #sidebar -->
        <div id="content">
            @RenderBody()
        </div> <!-- #content -->

            <div id="topNav">
                <ul>
                    <li>
                        <a href="#" class="menu" style="font-size:16px;">

                        </a>


                    </li>
                    <li><a href="#" style="font-size:16px;">Logout</a></li>
                </ul>
            </div>


            <!-- #topNav -->
            <!-- .quickNav -->


        </div> <!-- #wrapper -->

    <div id="footer" style="font-size:14px;">
        Copyright &copy; www.bethuelmultitrade.com 2018
    </div>

    @* @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascripts/all")
    @RenderSection("scripts", required: false)*@

    <script src="~/Scripts/javascripts/all.js"></script>


    @*<script src="javascripts/all.js"></script>*@
    <script>
        $(function () {

            $("#memberid").blur(function () {
                var memId = $(this).val();
                /// alert(memId);
                debugger;
                $.get("/Renewal/Contribution", { memberid: memId }, function (data) {
                });
            });

    $("#datepicker").datepicker();
    $("#datepicker1").datepicker();
	$( "#datepicker_inline" ).datepicker();
	$('#colorpickerHolder').ColorPicker({flat: true});
	$('#timepicker').timepicker ({
		showPeriod: true
		, showNowButton: true
		, showCloseButton: true
	});

	$('#timepicker_inline_div').timepicker({
	   defaultTime: '9:20'
	});

	$('#colorSelector').ColorPicker({
		color: '#FF9900',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onSubmit: function (hsb, hex, rgb, el) {
			$(el).ColorPickerHide ();
		},
		onChange: function (hsb, hex, rgb) {
			$('#colorSelector div').css({ 'background-color': '#' + hex });
			$('#colorpickerField1').val ('#' + hex);
		}
	});

	$('#colorpickerField1').live ('keyup', function (e) {
		var val = $(this).val ();
		val = val.replace ('#', '');
		$('#colorSelector div').css({ 'background-color': '#' + val });
		$('#colorSelector').ColorPickerSetColor(val);
	});

});

    </script>

    
</body>
</html>