@model  ValleyDreamsIndia.Models.UserPersonalListModelView
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}    
 <div id = "contentHeader" >
    <h1>My Team</h1>
</div> <!-- #contentHeader -->

<div class="container">

    <div class="grid-12">
@using (Html.BeginForm("SearchByPlacementSide", "Team"))
{
        <div class="widget widget-table">
            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Select Member Placement</h3>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Placement</th>
                            <th>
                                @Html.DropDownList("placementSide", new SelectList(
                                            new List<Object>{
                                                       new { value = "" , text = "-- Select Side --" },
                                                       new { value = "LEFT" , text = "LEFT" },
                                                       new { value = "RIGHT", text = "RIGHT"}
                                                  },
                                                "value",
                                                "text",
                                                 2))
                            </th>
                        </tr>
                    </thead>
                </table>
            </div> <!-- .widget-content -->
            <p align="center" style="margin-top:20px;">
                <span><input type="submit" class="btn btn-large btn-blue" value="View" /></span>
            </p>
        </div>
}



    </div>

    <div class="grid-12">
        <div class="widget widget-table">
@using (Html.BeginForm("SearchByMemberId", "Team"))
{
            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Search Member By Id</h3>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Member Id</th>
                            <th>
                                @Html.TextBox("memberId")
                            </th>
                        </tr>
                    </thead>
                </table>
            </div> <!-- .widget-content -->
            <p align="center" style="margin-top:20px;">
                <span><input type="submit" class="btn btn-large btn-blue" value="View" /></span>



            </p>

}    </div>





    </div>

    <div class="grid-24">
        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Member Info</h3>
            </div>

            <div class="widget-content">

                <table class="table table-bordered table-striped">
                    <thead>

                        <tr>
                            <th>Sponser Id</th>
                            <th>@Model.PersonalDetail.UsersDetail.UsersDetail1.UserName</th>
                        </tr>
                        <tr>
                            <th>User Id</th>
                            <th>@Model.PersonalDetail.UsersDetail.UserName</th>


                        </tr>
                        <tr>
                            <th>Member Name</th>
                            <th>@Model.PersonalDetail.FirstName @Model.PersonalDetail.LastName</th>


                        </tr>

                        <tr>
                            <th>Left</th>
                            <th>@Model.Left</th>


                        </tr>
                        <tr>
                            <th>Right</th>
                            <th>@Model.Right</th>


                        </tr>
                        <tr>
                            <th>Directs</th>
                            <th>@Model.Direct</th>


                        </tr>







                    </thead>


                </table>


            </div> <!-- .widget-content -->





        </div>
    </div>

    <div class="grid-24">


        <div class="widget widget-table">

            <div class="widget-header">
                <span class="icon-list"></span>
                <h3 class="icon chart">Geneology</h3>
            </div>

            <div class="widget-content">

                <table class="table table-bordered table-striped data-table">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Member</th>
                            <th>Level</th>
                            <th>User Id</th>
                            <th>DOJ</th>
                            <th>Sponser Id</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PersonalDetails)
                        {
                            var i = 1;
                            <tr class="gradeA">
                                <td>@i</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UsersDetail.UserName)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => item.JoinedOn)
                                </td>
                                <td>NA</td>
                            </tr>
                            i = i + 1;
                        }
                    </tbody>
                </table>
            </div> <!-- .widget-content -->

        </div> <!-- .widget-content -->

    </div>



</div>
